body{
  background-color: cadetblue;
}

h1{
  color: brown;
  text-shadow: 5px 2px 1px gray;
  font-size: 50px;
}

input{
  width: 200px;
  height: 30px;
  font-size: 20px;
  border: none;
  box-shadow: 5px 6px 3px gray;
  border-radius: 10px;
}

#add{
  padding: 8px 40px;
  margin-left: 15px;
  font-size: 25px;
  margin-top: 4px;
  font-weight: bold;
  background-color: blueviolet;
  color: aliceblue;
  border: none;
  border-radius: 20px;
}

#del{
  margin-left: 100px;
}

hr{
  width: 20%;
}