<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Form</h1>
    <form action="/insertData" method="post">
      <input type="text" name="id" placeholder="Enter ID" />
      <input type="text" name="name" placeholder="Enter Name" />
      <input type="submit" value="Add Student" />
    </form>

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% student.map((el, i) => { %>
      <tr>
        <td><%= el.id %></td>
        <td><%= el.name %></td>
        <td>
          <a href="/deleteData?userid=<%= el.id %>"> Delete</a>
          <a href="/editData?userid=<%= el.id %>"> Edit</a>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
